# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/provider.tf

# Environment files
.env
docker/.env

# SSH keys
*.pem
terraform/wordpress-akc
terraform/wordpress-akc.pub